#scoreboard-btn {
  cursor: pointer;
}

#answer-list,
#initials-list,
#scores-list {
  list-style-type: none;
}

#scores-list, #initials-list {
  padding: 1em 2em;  
  text-transform: uppercase;
}



.hide {
  display: none;
}