body {
    background-color: lightgrey;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
}

button {
    margin-top: 5px;
    
}

.question-box {
    background-color: lightgray;
    border: 2px solid gray;
}

.answer-box {
    background-color: white;
    border: 2px solid lightgray;
}

.quiz-info {
    color: white;
    background-color: darkslategray;
    border: 2px solid black;
}